@charset "utf-8";

//
// VARIABLES
//

// Colors

$white: #FFFFFF; //#FFFFFF (Background)
$black: #000000; //#000000 (Text)
$gray: #444444; //#666666 Subtle text color
$lightGray: #999999; //#EEEEEE Container background
$paleGray: #555555; //#DDDDDD Container border
$darkGray: #1f1f1f; //#333333 Dark background
$darkerGray: #171717; //#222222 Darkest background
$blue: #3498db; //#4183C4 Link color
$purple: #8e44ad; //#4141C4 Accent color
$mahogany: #c0392b; //#BD2C00 Highlight color

$background: #0d0628;
$body: $paleGray; // Body text
$header: $white; // h1 h2 h3 colors etc.
$visited: $darkerGray;// Links that have been clicked
$hover: #FCA17D;// Links you are hovering over
$highlight: #c0392b;
$site_title: $darkerGray;
$site_title_hover: $highlight;
$nav: #9A348E; // Nav links at the top of the site
$nav_active: #FCA17D; // When you hover over the nav links
$footer: $lightGray; // Footer color at bottom of page
$social_icon: $gray;
$social_icon_hover: $darkGray;
$secondary: #F9DBBD; // Secondary font color
$blockquote_bg: $background;
$blockquote_accent: $secondary;
$codeblock: $black;
$tableborder: $gray;
$table: $black;

// Pagination colors
$pagination-color: $darkGray;
$pagination-hover-color: $blue;
$pagination-active-bg: $blue;
$pagination-active-color: $white;
$pagination-separator-color: $paleGray;

// Font stacks
$sans-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, "Droid Sans", Arimo, "Helvetica Neue", Helvetica, "Liberation Sans", Arial, Ubuntu, "DejaVu Sans", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
$code-font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", Consolas, Menlo, Monaco, "Noto Sans Mono", "Noto Mono", "Roboto Mono", "Droid Sans Mono", Cousine, Inconsolata, "Liberation Mono", "Ubuntu Mono", "DejaVu Sans Mono", "Courier New", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Transitions
$time: 250ms;
